<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semple.zhixiaoduo.mapper.AccountMapper">

    <select id="selectCreatorNames" resultType="com.semple.zhixiaoduo.bean.Account">
        SELECT id, name
        FROM account
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectEnterpriseCreatorNames" resultType="com.semple.zhixiaoduo.bean.Account">
        SELECT id, name
        FROM account
        WHERE (enterprise_id = #{enterpriseId}
               OR account_type = 1)
          AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
